<div class="container mt-5">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body text-center">
                <span class="titulo">
                    Listado de Productos
                </span>
                <button class="btn btn-success float-end" routerLink="/crear-producto">Nuevo</button>
                <table class="table table-striped mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Ubicación</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Coca cola</th>
                        <td>Bebida</td>
                        <td>Mexico</td>
                        <td>2</td>
                        <td><i class="fas fa-edit text-primary"></i>
                            <i class="fas fa-trash text-danger"></i>
                        </td>
                      </tr>
                      <tr>
                        <th>Malboro 20</th>
                        <td>Cigarrillos</td>
                        <td>Barcelona</td>
                        <td>3</td>
                        <td><i class="fas fa-edit text-primary"></i>
                            <i class="fas fa-trash text-danger"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>